<div class="row">  
  <div class="col-md-4 grid-margin">    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Creación de clientes</h4>
        <app-registerclient></app-registerclient> 
      </div>
    </div>
  </div>
   
  <div class="col-lg-8 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Listado de clientes</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Edad</th>
                  <th>Fecha de nacimiento</th>
                  <th>Fecha probable de muerte</th>
                </tr>
              </thead>
              <tbody *ngFor="let client of clients">
                <tr>
                  <td>{{client.data.nombre}}</td>
                  <td>{{client.data.apellidoPaterno}} {{client.data.apellidoMaterno}}</td>
                  <td>{{client.data.edad}} años</td>
                  <td>{{client.data.fecNacimiento.toDate() | date: 'mediumDate'}}</td>
                  <td>
                    <label class="badge badge-primary">{{client.data.fecProbableMuerte.toDate() | date: 'mediumDate'}}</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>