<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets\images\pic-4.png" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Eliud Vasquez</p>
            <div>
              <small class="designation text-muted">Usuario</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clients" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-box"></i>
        <span class="menu-title">Clientes</span>
      </a>
    </li>
  </ul>
</nav>
